.container{
    padding-left: calc((100% - 1000px)/2);
    padding-right: calc((100% - 1000px)/2);
}

body{
    background: #202629;
}

@media screen and (max-width: 1024px){
    .container{
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding-left: 2%;
        padding-right: 2%;
    }
}



/* @media screen and (max-width: 1024px){
    .header{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
} */